* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
 }
 
 header {
    height: 70px;
    background-color: rgb(36, 137, 191);
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
 }
 
 header i {
    margin-right: 10px;
    font-size: 40px;
 }
 .email-list {
    list-style-type: none;
 }
 
 .email-list li {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid rgb(36, 137, 191);
 }